@{
    ViewData["Title"] = "Members";
}

<div class="members-container">
    <div class="members-header">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-type="modal" data-target="#addMemberModal" class="btn btn-add">Add Member</button>
    </div>

    <div class="members">
        @* @if (Model != null && Model.Projects.Any())
        {
            foreach (var project in Model.Projects)
            {
                @await Html.PartialAsync("Partials/Components/_ProjectCard", project)
            }
        }
        else
        {
            <h1>No Members</h1>
        } *@
    </div>

</div>