@{
    ViewData["Title"] = "Members";

    var usersResult = await userService.GetUsersAsync();
    var users = usersResult.Result;
}

<div class="members-container">
    <div class="members-header">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-type="modal" data-target="#addMemberModal" class="btn btn-add">Add Member</button>
    </div>

    <div class="members">
        @if (users != null)
        {
            foreach (var user in users)
            {
                @await Html.PartialAsync("Partials/Components/_MemberCard", user)
            }
        }
        else
        {
            <h1>No Members</h1>
        }
    </div>

</div>