@model CardMenuViewModel

@{
    var project = Model.Project;
    var client = Model.Client;
}

@if (project != null)
{
    <div class="options-menu-container">
        <div id="optionsMenuIcon" data-type="dropdown" data-target="#optionsMenuDropdown-@project.Id" class="options-menu-icon"><img src="~/Images/ButtonImages/two_dots.svg" alt="Card Menu Button Image" /></div>
    </div>

    <div id="optionsMenuDropdown-@project.Id" class="options-dropdown-container card">
        <div class="option-buttons">

            <button type="button" data-type="modal" data-target="#editProjectModal-@project.Id" class="edit-option">
                <i class="bi bi-pencil-fill"></i>
                Edit
            </button>

            <button class="add-member-option">
                <i class="bi bi-person-plus-fill"></i>
                Add Member
            </button>

            <div class="options-divider"></div>

            <form asp-controller="Projects" asp-action="RemoveProject" method="post" novalidate>
                <input type="hidden" name="id" value="@project.Id" />
                <button type="submit" class="delete-option">
                    <i class="bi bi-trash"></i>
                    Delete Project
                </button>
            </form>
        </div>

    </div>

    <partial name="Partials/Modals/_EditProjectModal" model="@project" />
}

@if (client != null)
{
    <div class="options-menu-container">
        <div id="optionsMenuIcon" data-type="dropdown" data-target="#optionsMenuDropdown-@client?.Id" class="options-menu-icon"><img src="~/Images/ButtonImages/two_dots.svg" alt="Card Menu Button Image" /></div>
    </div>

    <div id="optionsMenuDropdown-@client?.Id" class="options-dropdown-container card">
        <div class="option-buttons">

            <button type="button" data-type="modal" data-target="#editClientModal-@client?.Id" class="edit-option">
                <i class="bi bi-pencil-fill"></i>
                Edit
            </button>

            <button class="add-member-option">
                <i class="bi bi-person-plus-fill"></i>
                Add Member
            </button>

            <div class="options-divider"></div>

            <form asp-controller="Clients" asp-action="RemoveClient" method="post" novalidate>
                <input type="hidden" name="id" value="@client?.Id" />
                <button type="submit" class="delete-option">
                    <i class="bi bi-trash"></i>
                    Delete Client
                </button>
            </form>
        </div>

    </div>

    @* <partial name="Partials/Modals/_EditClientModal" model="@client" /> *@
}


