@model NotificationItem

<div class="notification-item-container">
    <img src="@Model.ImageUrl" alt="Notification Image" />

    <div class="notification-item-body" >
        <p>@Model.ProjectName</p>
        <p>@Model.CreatedAt</p>
    </div>

    <button class="btn btn-close"></button>
</div>