
@model Notification

<div class="notification-item-container">
    <img src="@Model.Image" alt="Notification Image" />

    <div class="notification-item-body" >
        <p>@Model.Message</p>
        <p>@Model.CreateDate</p>
    </div>

    <button class="btn btn-close"></button>
</div>