@model NotificationItemForm

<div class="notification-item-container">
    <img src="@Model.ImageUrl" alt="Notification Image" />

    <div class="notification-item-body" >
        <p>Project Name</p>
        <p>CreatedAt</p>
    </div>

    <button class="btn btn-close"></button>
</div>