<div class="notification-item-container">
    <img src="" alt="Notification Image" />

    <div class="notification-item-body" >
        <p>Project name</p>
        <p>1 min ago</p>
    </div>

    <button class="btn btn-close"></button>
</div>