<div class="sort-bar-container">
    <div class="sort-links">
        <div class="sort-link active-link">
            <a href="#">
                <span>ALL [9]</span>
            </a>
            <div class="sort-link-line active-link"></div>
        </div>

        <div class="sort-link">
            <a href="#">
                <span>STARTED [5]</span>
            </a>
            <div class="sort-link-line"></div>
        </div>

        <div class="sort-link">
            <a href="#">
                <span>COMPLETED [0]</span>
            </a>
            <div class="sort-link-line"></div>
        </div>
    </div>
</div>
