<div id="addProjectModal" class="modal">
    <div class="card">
        <div class="card-header">
            <h3>Add Project</h3>
            <button type="button" data-type="close" data-target="#addProjectModal" class="btn btn-close"></button>
        </div>

        <div class="card-body">
            <form>

                <div class="image-preview-container">
                    <div class="image-border">
                        <div id="circle-container" class="circle-image">
                            <i class="bi bi-camera-fill"></i>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="field-group">
                        <label>Project Name</label>
                        <span></span>
                    </div>
                    <input />
                </div>

                <div class="form-group">
                    <div class="field-group">
                        <label>Client Name</label>
                        <span></span>
                    </div>
                    <input />
                </div>

                <div class="form-group">
                    <div class="field-group">
                        <label>Description</label>
                        <span></span>
                    </div>
                    <textarea rows="4" placeholder="Description"></textarea>
                </div>

                <div class="date-group">
                    <div class="date-label">
                        <label>Start Date</label>
                        <input type="date" />
                    </div>
                    <div class="date-label">
                        <label>End Date</label>
                        <input type="date" />
                    </div>
                </div>

                <div class="add-project-members-container">
                   <label>Members</label>
                   <div class="add-project-members-group">

                        <div class="add-project-members">

                            <div class="add-project-member">
                                <img src="~/Images/Avatars/avatar.svg" />
                                <span>Björn Åhström</span>
                                <button class="btn btn-close"></button>
                            </div>

                            <div class="add-project-member">
                                <img src="~/Images/Avatars/avatar_5.svg" />
                                <span>Desieé Åhström</span>
                                <button class="btn btn-close"></button>
                            </div>

                        </div>

                        <button>
                            <i class="bi bi-search"></i>
                        </button>
                   </div>
                </div>

                <div class="form-group">
                    <label>Budget</label>
                    <input placeholder="0"/>
                </div>

                <button type="submit" class="btn btn-submit">Create</button>

            </form>
        </div>
    </div>
</div>
