

<div id="addMemberModal" class="modal">
    <div class="card">
        <div class="card-header">
            <h3>Add Member</h3>
            <button type="button" data-type="close" data-target="#addMemberModal" class="btn btn-close"></button>
        </div>

        <div class="card-body">
            <form asp-controller="Members" asp-action="AddMember" method="post" enctype="multipart/form-data" data-target="#addMemberModal" novalidate>

                <div class="image-preview-container">
                    <div class="image-border">
                        <div id="circle-container" class="circle-image">
                            <i class="bi bi-camera-fill"></i>
                        </div>
                    </div>
                </div>

                <div class="name-group">
                    <div class="form-group">
                        <div class="field-label-group">
                            <label>First Name</label>
                            <span></span>
                        </div>
                        <input />
                    </div>

                    <div class="form-group">
                        <div class="field-label-group">
                            <label>Last Name</label>
                            <span></span>
                        </div>
                        <input />
                    </div>
                </div>

                <div class="form-group">
                    <div class="field-label-group">
                        <label>Email</label>
                        <span></span>
                    </div>
                    <input />
                </div>
                <div class="form-group">
                    <div class="field-label-group">
                        <label>Phone</label>
                        <span></span>
                    </div>
                    <input />
                </div>
                <div class="form-group">
                    <div class="field-label-group">
                        <label>Job Title</label>
                        <span></span>
                    </div>
                    <input />
                </div>
                
                <div class="date-of-birth form-group">
                    <label>Date of Birth</label>
                    <div class="date-of-birth-input-group">
                        <input type="number" min="1" max="31" placeholder="Day" />
                        <input type="number" min="1" max="12" placeholder="Month" />
                        <input type="number" min="1900" placeholder="Year" />
                    </div>
                </div>
                <button type="submit" class="btn btn-submit">Add Contact</button>

            </form>
        </div>
    </div>
</div>