<div class="nav-links">
    <a class="nav-link @(Context.Request.Path == "/" || Context.Request.Path == "/admin/dashboard" ? "active" : "")" asp-controller="Dascboard" asp-action="Index">
        <i class="bi bi-border-style"></i>
        <span>Dashboard</span>    
    </a>

    <a class="nav-link" @(Context.Request.Path == "/admin/projects" ? "active" : "")>
        <i class="bi bi-briefcase-fill"></i>
        <span>Projects</span>
    </a>
</div>