<div class="notifications-menu-container">
    <div id="notificationsIcon" class="notifications-icon">

        <div class="notifications-symbol">
            <div class="outer-circle">
                <div class="inner-red-circle"></div>
            </div>
        </div>
        <i class="bi bi-bell-fill"></i>
    </div>
</div>

<div id="notificationsDropdown" class="notifications-dropdown">
    <p>Notifications</p>
</div>