@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier) ?? "";
    var roleName = User.FindFirstValue(ClaimTypes.Role) ?? "";
    var displayName = await userService.GetDisplayNameAsync(userId);
    var profileResult = await userService.GetUserByIdAsync(userId);
    var profile = profileResult.Result;
}

<div class="profile-menu-container">
    @if (!string.IsNullOrEmpty(profile!.ImageUrl))
    {
        <img id="profileAvatar" data-type="dropdown" data-target="#profileDropdown" class="profile-avatar" src="~/Images/Profiles/@profile!.ImageUrl" alt="@displayName" />
    }
    else
    {
        <img id="profileAvatar" data-type="dropdown" data-target="#profileDropdown" class="profile-avatar" src="~/Images/Avatars/avatar.svg" alt="Avatar Image" />
    }

</div>

<div id="profileDropdown" class="profile-dropdown">
    <div class="profile-info">
        @if (!string.IsNullOrEmpty(profile!.ImageUrl))
        {
            <img class="profile-avatar-mini" src="~/Images/Profiles/@profile!.ImageUrl" alt="@displayName" />
        }
        else
        {
            <img class="profile-avatar-mini" src="~/Images/Profiles/avatar.svg" alt="Avatar Image" />
        }
        <span class="profile-name">@displayName</span>
    </div>

    <div class="profile-action">
        <div class="label">
            <i class="bi bi-gear-fill"></i>
            <span>Dark Mode</span>
        </div>
        <label class="switch">
            <input type="checkbox" id="darkModeToggle" data-type="toggle" data-func="darkmode"/>
            <span class="slider"></span>
        </label>
    </div>

    <div class="divider"></div>

    <a class="profile-logout" asp-controller="Auth" asp-action="SignOut">
        <i class="bi bi-box-arrow-right"></i>
        <span>Sign out</span>
    </a>
</div>