@model ClientsViewModel

@{
    ViewData["Title"] = "Clients";
}

<div class="clients-container">
    <div class="clients-header">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-type="modal" data-target="#addClientModal" class="btn btn-add">Add Client</button>
    </div>

    <div class="clients">
        @if (Model != null && Model.Clients.Any())
        {
            foreach(var client in Model.Clients)
            {
                var viewModel = new CardMenuViewModel
                {
                    Client = client,
                };

                @await Html.PartialAsync("Partials/Components/_ClientCard", viewModel)
            }
        }

    </div>
</div>